body {
  background-color: rgb(243 244 246);
}

img {
  max-width: 100%;
}

.SignupContainer {
  background: url("../../../assets/Images/bg.jpg");
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

.formRow {
  width: 100%;
  max-width: 1200px;
  border-radius: 4px;
}

.signupText {
  margin-top: 2rem;
  font-size: 28px !important;
}

.submitBtn:hover {
  background-color: white !important;
  color: #0d6efd !important;
}

.loginText {
  font-size: 14px;
}

.form-error {
  color: red !important;
}

.error {
  color: red !important;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

#customPaginator,
#customPaginator .p-dropdown {
  background-color: #f3f4f6;
}

#customPaginator .p-dropdown {
  border: 1px solid #07070760;
}
.p-highlight {
  background-color: #cdc7c7 !important;
  color: #1c1a1a !important;
}
li {
  list-style-type: none;
}

.input-container {
  position: relative;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #1c1717;
  opacity: 0.7;
}

.clear-button:hover {
  color: #000000;
}
